body {
    background-color: #DFDBE5 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.about {
    z-index: -1;
}

.about-title {
    visibility: hidden;
    font-family: var(--font-secondary);
    font-size: clamp(2rem, 8vw, 4rem);
    padding-top: 1rem;
    letter-spacing: .5rem;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 1rem;
    z-index: -1;
}

.fade-up {
    z-index: -1;
    visibility: visible;
    animation: fadeUp 1s ease-in-out forwards;
}

.fade-description {
    font-family: var(--font-primary);
    font-size: clamp(1rem, 3vw, 2rem);
    letter-spacing: -.05rem;
    text-align: center;
    margin: 0 auto;
    color: var(--color-black);
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 1s ease-in-out forwards;
}

.fade-description:nth-child(1) {
    animation-delay: .5s;
}

.fade-description:nth-child(2) {
    animation-delay: 1s;
}

.fade-description:nth-child(3) {
    animation-delay: 1.5s;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    padding: clamp(1rem, 5vw, 4rem);
    padding-top: 4rem;
    column-gap: 2rem;
    row-gap: 4rem;
}

.about-image {
    grid-area: 1 / 1 / 2 / 3;
}

.about-header {
    grid-column: 1 / 4 ;
    grid-row: 2;
}

.about-item { 
    grid-row: 3; 
}

.about-main>h4 {
    font-family: var(--font-primary);
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--color-green);
    text-transform: uppercase;
    font-weight: 800;
}


.about-main>h3 {
    font-size: clamp(1rem, 1.5vw, 1rem);
    color: var(--color-black);
    font-family: var(--font-secondary);
    opacity: 0.6;
    letter-spacing: 6px;
}

.about-main>p {
    font-size: clamp(1rem, 1.5vw, 1rem);
    color: var(--color-black);
    line-height: 1.5;
    text-wrap: balance;
    text-wrap: pretty;
    font-family: var(--font-primary);
    opacity: 0.87;
}

.about-header>h4 {
    font-family: var(--font-primary);
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--color-green);
    text-transform: uppercase;
    text-align: center;
    opacity: .87;
}

.about-header>p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--color-black);
    font-family: var(--font-secondary);
    text-align: center;
    opacity: .7;
}

.about-item>h4 {
    font-family: var(--font-secondary);
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--color-green);
    text-transform: uppercase;
}

.about-item>h3 {
    font-size: clamp(1rem, 1.5vw, 1rem);
    color: var(--color-black);
    font-family: var(--font-secondary);
    opacity: 0.6;
    padding-bottom: 2rem;
}


.about-item>p {
    font-size: clamp(1rem, 1.5vw, 1rem);
    color: var(--color-black);
    line-height: 1.5;
    text-wrap: balance;
    text-wrap: pretty;
    font-family: var(--font-primary);
    opacity: 0.87;
}

/* mobile */
@media (max-width: 600px) {
    body {
        background-size: auto;
        background-repeat: repeat;
    }

    .about-grid {
        grid-template-columns: 1fr;
    }

    .about-image, .about-item, .about-main, .about-header {
        grid-area: unset;
    }

}

/* tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    .about {
        padding: 4rem 2rem;
    }

}







/* animations */
@keyframes fadeUp {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(-10px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}