.nav-center {
    background-color: var(--main-blue-dark) !important;
}

.nav-center a {
    color: var(--main-white) !important;
}

.nav-center a::after {
    background-color: var(--main-white) !important;
}

.contact-active {
    background-color: var(--main-thistle) !important;
}

.contact-active {
    color: var(--main-black-light) !important;
}

.contact .container {
    display: flex;
    width: 100%;
    padding-top: 6rem;
}
.contact-title {
    flex: 1.2;
    font-size: clamp(2rem, 10vw, 6rem);
    font-family: var(--font-body);
    font-weight: 800;
    text-transform: uppercase;
    text-wrap: balance;
    align-items: flex-start;
    margin-top: 0;
    margin-left: 1rem;
}

#contact-form {
    flex: 1;
}

.contact-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
    margin-bottom: 4rem;

}

input[type=text], input[type=email] {
	appearance: none;
	border: none;
	outline: none;
    padding: .2em;
	border-bottom: .1em solid var(--main-black-light);
	background: var(--main-platinum);
	border-radius: .2em .2em 0 0;
    margin-right: 1rem;
	color: var(--main-black);
    font-size: 2rem;
}

input[type=text]:hover, input[type=text]:focus-within {
    color: var(--main-black);
	border-bottom: .1em solid var(--main-blue-dark);
}

input[type=email]:hover, input[type=email]:focus-within {
    color: var(--main-black);
	border-bottom: .1em solid var(--main-blue-dark);
}

textarea {
    appearance: none;
    border: none;
    outline: none;
    height: 5em;
    margin-right: 1rem;
    resize: vertical;
	border-bottom: .1em solid var(--main-black-light);
	border-radius: .2em .2em 0 0;
	background: var(--main-platinum);
    font-size: 2rem;
}

textarea:hover, textarea:focus-within {
    color: var(--main-black);
	border-bottom: .1em solid var(--main-blue-dark);
}

label[for="fullname"], label[for="email"], label[for="subject"]  {
    font-size: 1rem;
    opacity: 0.5;
    font-family: var(--font-title);
    color: var(--main-black-light);
    font-style: italic;
}

input[type="submit"] {
    font-family: var(--font-title);
    font-size: 2rem;
    text-decoration: none;
    color: var(--main-white);
    background-color: var(--main-green);
    padding: 0.6rem 2rem;
    transition: .1s ease-in-out;
    border-radius: 0.5rem;
    align-self: flex-start;
}
input[type="submit"]:hover {
    background-color: rgb(58, 161, 140); 
    box-shadow: 0 0 10px rgba(34, 139, 120, 0.4);
}



/* 
input::placeholder 
textarea::placeholder
label[for="fullname"] 
label[for="email"] 
label[for="subject"]
input[type="submit"]  
*/

