.contact .container {
    display: flex;
    width: 100%;
    padding-top: 6rem;
}
.contact-title {
    flex: 1.2;
    font-size: clamp(2rem, 10vw, 6rem);
    font-family: var(--font-secondary);
    font-weight: 800;
    text-transform: uppercase;
    text-wrap: balance;
    align-items: flex-start;
    margin-top: 0;
    margin-left: 2rem;
    animation: fadeUp 1s ease;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
.contact-title>p:nth-child(1) {
    flex: 1.2;
    font-size: clamp(2rem, 10vw, 6rem);
    font-family: var(--font-secondary);
    font-weight: 800;
    text-transform: uppercase;
    text-wrap: balance;
    align-items: flex-start;
    margin-top: 0;
}

#contact-form {
    flex: 1;
    animation: fadeLeft 2s ease;

}

.contact-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
    margin-bottom: 4rem;

}

input[type=text], input[type=email] {
	appearance: none;
	border: none;
	outline: none;
    padding: .2em;
	border-bottom: .1em solid var(--color-black);
	background: var(--color-cream);
	border-radius: .2em .2em 0 0;
    margin-right: 2rem;
	color: var(--color-black);
    font-size: 2rem;
}

input[type=text]:hover, input[type=text]:focus-within {
    color: var(--color-black);
	border-bottom: .1em solid var(--color-green);
}

input[type=email]:hover, input[type=email]:focus-within {
    color: var(--color-black);
	border-bottom: .1em solid var(--color-green);
}

textarea {
    appearance: none;
    border: none;
    outline: none;
    height: 5em;
    margin-right: 2rem;
    resize: vertical;
	border-bottom: .1em solid var(--color-black);
	border-radius: .2em .2em 0 0;
	background: var(--color-cream);
    font-size: 2rem;
}

textarea:hover, textarea:focus-within {
    color: var(--color-black);
	border-bottom: .1em solid var(--color-green);
}

label[for="fullname"], label[for="email"], label[for="subject"]  {
    font-size: 1rem;
    opacity: 0.5;
    font-family: var(--font-primary);
    color: var(--color-black);
    font-style: italic;
}

input[type="submit"] {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-white);
    padding: .5rem 2rem;
    background-color: var(--color-black);
    transition: .1s ease-in-out;
    border-radius: 0.5rem;
    margin-right: 2rem;
    align-self: flex-end;
    text-transform: uppercase;
}
input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    cursor: pointer;
}


/* mobile */
@media (max-width: 600px) {
    .contact .container {
        display: block;
        padding: 2rem 2rem 4rem 2rem;
    }

    .contact-title {
        font-size: 3em;
        margin: 0;
    }

    .contact-title>p:nth-child(3) {
        display: flex;
        justify-self: flex-end;
        font-size: 1rem;
    }
    
    .contact-title>img {
        display: flex;
        justify-self: flex-end;
        width: 10px;
        height: 10px;
    }

    .contact-item {
        gap: 1em;
    }

    input[type=text], input[type=email] {
        font-size: 2em;
    }


    textarea {
        font-size: 1.4rem;
        border-bottom: .2em solid var(--color-black);

    }
}

/* tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    .contact .container {
        padding-bottom: 4rem;
    }

    .contact-title {
        font-size: 1rem;
        margin-right: 2rem;

    }

    .contact-title>p:nth-child(3) {
        display: flex;
        justify-self: flex-start;
        font-size: 2rem;
    }
    
    .contact-title>img {
        display: flex;
        justify-self: flex-start;
        width: 20px;
        height: 20px;
    }
}
