/* mobile  */
@media (max-width: 600px) {
    .hero {
        min-height: 60vh;
        padding: 3rem 1rem;
        margin-bottom: 10rem;
        text-align: center;
    }

    .hero .container {
        padding: 1rem;
    }

    .hero-title {
        font-size: 2.3rem;
        font-size: clamp(2rem, 6vw, 4rem);
        letter-spacing: -0.15rem;
        z-index: -1;
        overflow: hidden;
    }

    .services>.container {
        padding: 2rem 1rem;
    }

    .service-grid {
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
    }

    .service-item {
        padding: 2rem;
    }

    .service-item > p {
        text-wrap: balance;
        text-wrap: pretty;
    }

    .projects {
        padding: 2rem 1rem; 
    }


    .projects > .container > h3 {
        text-align: left;
    }

    .projects-grid {
        flex-direction: column;
        align-items: center; 
    }

    .p-item {
        width: 100%;
        margin: 10px 0;
    }

    .testimonials {
        padding: 4rem;
    }

    .testimonials .container {
        align-items: center;
    }

    .testimonials-title {
        letter-spacing: 0.2rem;
    }

    .testimonials-grid {
        width: 100%;
        left: 0;
        float: none;
        position: relative;
    }

    .testimonial-text {
        padding-bottom: 1rem;
        left: 0;
        float: none;
    }

    .testimonial-author {
        text-align: center;
        font-size: 1rem;
    }

    .call-to-action {
        padding: 4rem 1rem;
    }
    
    .call-to-action .container {
        max-width: 100% !important;
        padding: 4rem 1rem;
    }

    .cta-description {
        line-height: 1.5;
    }

}

/* tablet */
@media (max-width: 1024px) and (min-width: 601px) {
    .hero {
        min-height: 60vh;
        padding: 4rem 2rem;
        text-align: center;
        margin-bottom: 6rem;
    }

    .hero .container {
        padding: 2rem;
    }

    .hero-title {
        font-size: clamp(4rem, 7vw, 6rem);
        letter-spacing: -0.15rem;
        margin-bottom: 2rem;
    }

    .hero>.primary-button {
        margin-top: 1.5rem;
    }

    .services>.container {
        padding: 10rem 2rem 3rem 2rem;
    }

    .service-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .service-item {
        padding: 2.5rem;
    }

    .projects-grid {
        flex-direction: column;
    }

    .projects-grid {
        flex-direction: column;
        align-items: center; 
    }

    .p-item {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%; 
        margin: 10px 0;
    }

    .testimonials {
        padding: 3rem 2rem;
    }

    .testimonials-title {
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
    }

    .testimonials-grid {
        width: 80%;
        left: 0;
        float: none;
        position: relative;
        margin: 0 auto;
    }

    .testimonial-text {
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
        left: 0;
        float: none;
    }

    .testimonial-author {
        text-align: center;
        font-size: 1.1rem;
    }

    .call-to-action {
        padding: 3rem 2rem;
    }

    .cta-title {
        font-size: 2.5rem;
    }

    .cta-description {
        font-size: 1.25rem;
        line-height: 2rem;
        text-align: center;
    }
}