/* specific styling for home page */
/* hero start */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    min-height: 50vh;
    padding: clamp(1rem, 4vw, 2rem);
    margin-top: -1vw;
}

.hero .container {
    padding: 2rem;
    background: rgb(214, 69, 80, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(168, 76, 76, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all .2s ease-in-out;
}

.hero .container:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
    transition: all .2s ease-in-out;
}

.hero-title {
    font-size: 2rem;
    font-size: 3.9vw;
    color: #1A090D;
    margin-bottom: 72px; 
}

.hero-description {
    font-size: 1rem ;
    font-size: 2vw; 
    color: var(--main-soft-black);
    width: 50vw;
    margin-bottom: 72px; 
    line-height: 2.6vw;
    letter-spacing: -.1vw;
}
/* hero end */

/* services start */
.container {
    padding: 4rem 4rem 2rem 4rem;
}

.service-grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 2rem;
}

.service-item {
    text-align: left;
    font-size: 1.4vw;
}

.services > .container > h3 {
    font-size: 2vw;
    color: var(--main-black);
    text-align: center;
}

.service-item > h4 {
    color: rgba(26, 9, 13, 0.845);
    margin-bottom: 32px; 
}
.service-item > p {
    color: var(--main-soft-black);
}
/* services end */

/* projects start */
.projects-sample > .container {
    display: block;
    text-align: center;
}

.projects-sample > .container > h3 {
    font-size: 2vw;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.projects-item img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border: 10px solid #fefae0;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition-duration: .5s;
}

.projects-item img:hover {
    filter: sepia(0%);
}
/* projects end */

/* call to action start */
.call-to-action {
    background-color: var(--main-red);
    color: var(--main-white);
    margin-top: 4rem;
    padding: 4rem;
}

.call-to-action .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.cta-title {
    font-size: 3.9vw;
}

.cta-description {
    font-size: 1rem ;
    font-size: 2vw; 
    color: var(--main-white);
    text-align: left;
    margin-bottom: 72px; 
    line-height: 2.6vw;
    letter-spacing: -.1vw;
    text-align: center;
}
/* call to action end */



/* media queries */
/* tablet */
@media (max-width: 1024px) {
    .hero-title, .hero-description {
        margin-bottom: 32px;
    }

    .service-grid {
        grid-template-columns: auto;
    }
}
  
  /* mobile  */
@media (max-width: 600px) {
    .hero-title, .hero-description {
    margin-bottom: 16px;
    }

    .service-grid {
        grid-template-columns: auto;
    }
}
