/* specific styling for home page */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    min-height: 50vh;
    padding: clamp(1rem, 4vw, 2rem);
}

.hero .container {
    padding: 2rem;
    background: rgba(214, 69, 80, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all .2s ease-in-out;
}

.hero .container:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
    transition: all .2s ease-in-out;
}

.hero-title {
    font-size: 2rem;
    font-size: 3.9vw;
    color: #1A090D;
    margin-bottom: 72px; 
}

.hero-description {
    font-size: 1rem ;
    font-size: 2vw; 
    color: #1a090dc5;
    width: 50vw;
    margin-bottom: 72px; 
    line-height: 2.6vw;
    letter-spacing: -.1vw;
}






/* media queries */
/* tablet */
@media (max-width: 1024px) {
    .hero-title, .hero-description {
        margin-bottom: 32px;
        }
}
  
  /* mobile  */
@media (max-width: 600px) {
    .hero-title, .hero-description {
    margin-bottom: 16px;
    }
}
