/* shared styles, layout, typography, buttons, colours */
/* navbar begin */
.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 3vw;
    color: var(--main-blue-dark);
    font-weight: bold;
}

.nav-center {
    font-family: var(--font-nav);
    letter-spacing: .2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
    background-color: var(--main-white);
    padding: 0.5em 1rem; 
    border-radius: 3vw;
    z-index: 1; 
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.nav-right {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.03);
    align-items: center;
}

.nav-center a,
.nav-right a {
    position: relative;
    color: var(--main-black-light);
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4vw;
    transition: color 0.3s ease-in-out;
    display: inline-block;
    overflow: hidden;
}

.nav-right a {
    font-family: var(--font-title);
    letter-spacing: .1rem;
    color: var(--main-platinum);
    background-color: var(--main-blue-dark);
    transition: all 0.3s ease-in-out;
}

.nav-center a::after {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background-color: var(--main-blue-medium);
    transition: width 0.2s ease-in-out;
}

.nav-center a:hover::after, .nav-center a.active::after  {
    width: 80%;
}
.nav-center a:hover, .nav-center a.active {
    color: var(--main-blue-medium);
}

.nav-right a:hover  {
    letter-spacing: .2rem;
    background-color: var(--main-blue-light);
    transition: all 0.3s ease-in-out;
}
/* navbar end */

/* buttons begin */
/* red then hover black */
.primary-button {
    font-family: var(--font-title);
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
    text-decoration: none;
    color: var(--main-platinum);
    background-color: var(--main-blue-medium);
    padding: 0.6rem 2rem;
    transition: .1s ease-in-out;
    border-radius: 0.5rem;
}

.primary-button:hover {
    background-color: var(--main-blue-light);
}
/* buttons end */


/* footer begin */
.footer-container {
    width: 100%;
    background-color: #0d0d0d;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #333;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

.footer-container p {
    color: #ccc;
    font-size: 0.95rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.5px;
}

.footer-container span {
    color: #f5deb3; 
    font-weight: 500;
}
/* footer end */


/* tablet */
/* @media (max-width: 1024px) {
    .nav-container {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .logo {
        margin: 0;
        text-align: center;
        width: 100%;
    }

    nav > a {
        border-radius: .5rem;
        padding: .5rem 1.7rem;
    }
} */

/* mobile */
/* @media (max-width: 600px) {
    .nav-container {
        flex-direction: column;
        gap: 0.75rem;
    }

    nav > a {
        padding: .2rem 1rem;
        border-radius: .2rem;
    }
} */
