/* shared styles, layout, typography, buttons, colours */

/* body */
body {
    background-color: var(--main-white);
}

/* navbar begin */
.nav-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.logo {
    margin-right: auto;
    color: #F4F3F2;
}

nav > a {  
    color: #F4F3F2;
    text-align: center;
    padding: 1rem 2.5rem;
    text-decoration: none; 
    border-radius: 11rem;   
    transition: all .3s ease-in-out;
    margin: 5rem;
}

nav > a:hover {
    background-color: #F4F3F2;
}

.active {
    background-color: #F4F3F2;
    color: black;
}
/* navbar end */

/* buttons begin */
.primary-button {
    font-size: .8rem;
    font-size: 1.2vw;
    text-decoration: none;
    color: var(--main-white);
    background-color: #D64550;
    padding: 0.833vw 3.75vw;
    transition: all .1s ease-in-out;
    border-radius: .5vw;
}

.primary-button:hover {
    background-color: var(--main-text-black);
    color: var(--main-white);
}
/* buttons end */


/* footer begin */
.footer-container {
    left: 0;
    bottom: 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: black;
}

.footer-container > p {
    color: bisque;
}
/* footer end */
