/* navbar begin */
.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo,
.logo a {
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-family: var(--font-nav);
    font-weight: bold;
    letter-spacing: .5rem;
    color: var(--main-blue-dark);
    transition: all 0.3s ease;
    text-decoration: none;
}

.logo a:hover {
    color: var(--main-blue-medium);
}

.nav-center {
    font-family: var(--font-nav);
    letter-spacing: .2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    background-color: var(--main-white);
    padding: 0.5em 1rem;
    border-radius: 3vw;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.nav-right {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out;
}

.nav-center a,
.nav-right a {
    position: relative;
    color: var(--main-black-light);
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4vw;
    transition: color 0.3s ease-in-out;
    display: inline-block;
    overflow: hidden;
}

.nav-right a {
    font-family: var(--font-title);
    letter-spacing: .1rem;
    color: var(--main-platinum);
    background-color: var(--main-blue-dark);
    transition: all 0.3s ease-in-out;
}

.nav-center a::after {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background-color: var(--main-blue-medium);
    transition: width 0.2s ease-in-out;
}

.nav-center a:hover::after,
.nav-center a.active::after {
    width: 80%;
}

.nav-center a:hover,
.nav-center a.active {
    color: var(--main-blue-medium);
}

.nav-right:hover {
    transform: translateY(-3px);
    box-shadow: 5px 8px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out;
}

/* navbar for mobile */
.mobile-menu {
    visibility: hidden;
    display: none;
    border: none;
    padding: 1.3rem 1.3rem;
    cursor: pointer;
    z-index: 999;
    position: relative;
}

.menu {
    width: 70%;
    height: .25rem;
    background-color: var(--main-blue-dark);
    border-radius: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, oppacity .8s, top .6s;
}

.menu-top {
    top: 25%
}

.menu-bottom {
    top: 75%;
}

.mobile-menu.active .menu-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

.mobile-menu.active .menu-mid {
    opacity: 0;
}

.mobile-menu.active .menu-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}

.mobile-screen {
    position: fixed;
    top: 0;
    right: -75%;
    background-color: var(--main-white);
    height: 70vw;
    width: 55%;
    transition: right .5s;
    border-bottom-left-radius: 25px;
}

.mobile-screen.active {
    right: 0;
}

/* navbar end */

@media (max-width: 600px) {

    .nav-center,
    .nav-right {
        display: none;
        visibility: hidden;
    }

    .mobile-menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
        visibility: visible;
    }

    .mobile-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-top: 2rem;
        z-index: 998;
    }

    .mobile-screen.active {
        transform: translateX(0%);
    }


    .mobile-screen a {
        color: var(--main-black);
        text-decoration: none;
        font-size: 1.5rem;
        font-family: var(--font-nav);
        text-transform: uppercase;
        font-weight: bold;
        transition: color 0.3s ease;
        padding: 0 2rem;
    }

    .mobile-screen a:hover {
        color: var(--main-thistle);
    }
}