/* default browser styles to help with consistency */
body {
  background-color: var(--main-platinum);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* colour palette */
  --main-black: rgb(26, 9, 13);
  --main-black-light: rgba(26, 9, 13, 0.6);
  --main-white: rgb(244, 243, 242);
  --main-red: rgb(214, 69, 80);
  --main-platinum: rgb(238, 226, 223);
  --main-thistle: rgb(222, 193, 219);
  --main-blue-dark: rgb(91, 97, 178);
  --main-blue-medium: rgb(47, 128, 228);
  --main-blue-light: rgb(109, 160, 225);
}