/* default browser styles to help with consistency */
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
  /* colours */
  --main-text-black: #1A090D;
  --main-white: #F4F3F2;
  --main-red: rgb(214, 69, 80);
}