.services-body {
    background-color: #dfe9f3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23eef2f7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.services-section {
    padding: 6rem 1.25rem;
    padding-top: 1rem;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
}

.section-title {
    font-family: var(--font-secondary);
    font-size: clamp(2rem, 10vw, 6rem);
    letter-spacing: .2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-black);

}

.section-subtitle {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 3.75rem;
    color: var(--color-black);
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 2.5rem;
}

.service-card {
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1.25rem;
    padding: 1.8rem 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.service-card:hover {
    transform: translateY(-8px);
}

.service-card .skills-icon {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: contain;
    margin: 0 auto 1rem auto;
    display: block;
}

.skills-icon img {
    filter: invert(20%) sepia(90%) saturate(300%) hue-rotate(270deg) brightness(95%) contrast(80%);
}

.service-card h3 {
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--color-black);
}

.service-card p {
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-black);
    text-wrap: balance;
}

/* mobile */
@media (max-width: 600px) {
 

    .services-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .service-card {
        padding: 1.5rem;
        font-size: 1rem;
    }
}

/* tablet */
@media (min-width: 601px) and (max-width: 1024px) {}