.services-body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23eef2f7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.services-section {
    padding: 6rem 1.25rem;
    padding-top: 1rem;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
}

.section-title {
    font-family: var(--font-secondary);
    font-size: clamp(2rem, 10vw, 6rem);
    letter-spacing: .2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-black);
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: .5s;
}

.section-subtitle {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
    color: var(--color-black);
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
}

.fade-up {
    z-index: -1;
    visibility: visible;
    animation: fadeUp 1s ease-in-out forwards;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 2.5rem;
}

.service-card {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    padding: 1.8rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 1s ease-in-out forwards;
    transition: all .2s ease-in-out;
    /* animation-delay: 1.5s; */
}

.service-card:hover {
    background: rgba(34, 139, 120, 0.6);
    transition: all .2s ease-in-out;
    transform: translateY(-10px);
    border-radius: 1.5rem;
}

.service-card:nth-child(n+4) {
    animation-delay: 2s;
}

.service-card .skills-icon {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: contain;
    margin: 0 auto 1rem auto;
    display: block;
}

.skills-icon img {
    filter: invert(20%) sepia(90%) saturate(300%) hue-rotate(270deg) brightness(95%) contrast(80%);
}

.service-card h3 {
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--color-black);
}

.service-card p {
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-black);
    text-wrap: balance;
}

.contact-ctnr {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(-10px);
    }
}

/* mobile */
@media (max-width: 600px) {
    .services-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .service-card {
        padding: 1.5rem;
        font-size: 1rem;
    }
}

/* tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    .services-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .service-card {
        padding: 1.5rem;
        font-size: 1rem;
    }
}

/* desktop */
@media (min-width: 1025px) {
    .service-card:nth-child(7) {
        grid-column: 2/3;
    }
}